select {
        display: flex;
        width: 80%;
        font-size: 18px;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: auto;
        border: 5px outset rgba(15, 15, 15, 0.3);
        border-radius: 20px;
      }

.container {
    max-width: 700px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
.timezone {
    display: block;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
.city:last-child {
    border: none;
  }
  
.date {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    opacity: 0.8;
    
  }
  
.time {
    font-size: 50px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

h1 {
    display: block;
    text-align: center;
    text-shadow: 6px 5px 10px rgba(23, 23, 23, 0.4);
    font-size: 65px;
    color: #062925;
    font-family: "Poppins", sans-serif;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.worldclock-app-wrapper {
    display: block;
    margin: auto;
    border: 1px solid #b8e1dd;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size:contain;
    padding: 15px;
    box-shadow: 5px 12px 42px 10px rgba(0, 0, 0, 0.2);
}
max-width:700px;

#berlin {
  background:#062925;
  color:#b8e1dd;
}

#chicago {
  background: #044a42; 
  color:#3a9188;
}

#tokyo {
  background: #3a9188; 
  color:#044a42;
}

#honolulu {
  background: #b8e1dd; 
  color:#062925;
}
.card {
  display: block;
  text-align: center;
  background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
  background-position: center;
  transition: ease-in;
  border: 5px outset rgba(15, 15, 15, 0.3);
  border-radius: 20px;
  width: 100%;
}

.card:hover {
  transform: scale(1.15);
}
