select {
        display: block;
        width: 90%;
        font-size: 18px;
        border-radius: 4px;
        padding: 10px;
      }

.container {
    max-width: 700px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
  .city {
    display: block;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .city:last-child {
    border: none;
  }
  
  .date {
    opacity: 0.7;
  }
  
  .time {
    font-size: 48px;
    font-weight: bold;
  }

h1 {
    display: block;
    text-align: center;
    font-size: 65px;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.worldclock-app-wrapper {
    display: block;
    margin: auto;
    border: 1px solid white;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 15px;
}

.card {
  display: block;
  text-align: center;
  color:#ffff;
  background-position: center;
  transition: ease-in;
}

.card:hover {
  transform: scale(1.15);
}

#tokyo {
  background-color:#b8e1dd;
  color: #062925;
}

#berlin {
  background-color: #3a9188;
  color: #044a42;
}

#new-york {
  background-color: #044a42;
  color: #3a9188;
}

#honolulu {
  background-color: #062925;
  color:#b8e1dd;
}